/*!

 =========================================================
 * Black Dashboard Pro React - v1.0.0 based on Black Dashboard Pro - v1.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/Site
 * Copyright 2018 Creative Tim (http://www.creative-tim.com)


 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

// Core
@import "Site/custom/functions";
@import "Site/bootstrap/functions";

@import "Site/custom/variables";
@import "Site/bootstrap/variables";

@import "Site/custom/mixins";
@import "Site/bootstrap/mixins";

// Bootstrap components
@import "Site/bootstrap/root";
@import "Site/bootstrap/reboot";
@import "Site/bootstrap/type";
@import "Site/bootstrap/images";
@import "Site/bootstrap/code";
@import "Site/bootstrap/grid";
@import "Site/bootstrap/tables";
@import "Site/bootstrap/forms";
@import "Site/bootstrap/buttons";
@import "Site/bootstrap/transitions";
@import "Site/bootstrap/dropdown";
@import "Site/bootstrap/button-group";
@import "Site/bootstrap/input-group";
@import "Site/bootstrap/custom-forms";
@import "Site/bootstrap/nav";
@import "Site/bootstrap/navbar";
@import "Site/bootstrap/card";
@import "Site/bootstrap/breadcrumb";
@import "Site/bootstrap/pagination";
@import "Site/bootstrap/badge";
@import "Site/bootstrap/jumbotron";
@import "Site/bootstrap/alert";
@import "Site/bootstrap/progress";
@import "Site/bootstrap/media";
@import "Site/bootstrap/list-group";
@import "Site/bootstrap/close";
@import "Site/bootstrap/modal";
@import "Site/bootstrap/tooltip";
@import "Site/bootstrap/popover";
@import "Site/bootstrap/carousel";
@import "Site/bootstrap/utilities";
@import "Site/bootstrap/print";

// Custom components
@import "Site/custom/reboot.scss";
@import "Site/custom/global.scss";
@import "Site/custom/utilities.scss";
@import "Site/custom/alerts.scss";
@import "Site/custom/avatars.scss";
@import "Site/custom/badge.scss";
@import "Site/custom/buttons.scss";
@import "Site/custom/close.scss";
@import "Site/custom/custom-forms.scss";
@import "Site/custom/dropdown.scss";
@import "Site/custom/footer.scss";
@import "Site/custom/forms.scss";
@import "Site/custom/grid.scss";
@import "Site/custom/icons.scss";
@import "Site/custom/images.scss";
@import "Site/custom/input-group.scss";
@import "Site/custom/info-areas.scss";
@import "Site/custom/modal.scss";
@import "Site/custom/nav.scss";
@import "Site/custom/navbar.scss";
@import "Site/custom/pagination.scss";
@import "Site/custom/tabs.scss";
@import "Site/custom/pills.scss";
@import "Site/custom/popover.scss";
@import "Site/custom/progress.scss";
@import "Site/custom/type.scss";
@import "Site/custom/tables";
@import "Site/custom/checkboxes-radio";
@import "Site/custom/fixed-plugin";
@import "Site/custom/sidebar-and-main-panel.scss";
@import "Site/custom/misc.scss";
@import "Site/custom/rtl.scss";
@import "Site/custom/timeline.scss";

// Vendor / Plugins
@import "Site/custom/vendor/plugin-datetimepicker.scss";
@import "Site/custom/vendor/plugin-nouislider.scss";
@import "Site/custom/vendor/plugin-fullcalendar.scss";
@import "Site/custom/vendor/plugin-sweetalert2.scss";
@import "Site/custom/vendor/plugin-bootstrap-switch.scss";
@import "Site/custom/vendor/plugin-bootstrap-select.scss";
@import "Site/custom/vendor/plugin-jasny-fileupload.scss";
@import "Site/custom/vendor/plugin-tagsinput.scss";
@import "Site/custom/vendor/plugin-perfect-scrollbar.scss";
@import "Site/custom/vendor/plugin-jquery.jvectormap.scss";
@import "Site/custom/vendor/plugin-datatables.net.scss";
@import "Site/custom/vendor/plugin-animate-bootstrap-notify.scss";
@import "Site/custom/vendor/plugin-card-wizard.scss";

// example pages and sections
@import "Site/custom/example-pages.scss";

// light mode
@import "Site/custom/white-content.scss";

// Cards
@import "Site/custom/card";
@import "Site/custom/cards/card-chart";
@import "Site/custom/cards/card-map";
@import "Site/custom/cards/card-user";
@import "Site/custom/cards/card-task";
@import "Site/custom/cards/card-animation-on-hover";
@import "Site/custom/cards/card-collapse";
@import "Site/custom/cards/card-contributions";
@import "Site/custom/cards/card-lock";
@import "Site/custom/cards/card-pricing";
@import "Site/custom/cards/card-profile";
@import "Site/custom/cards/card-plain";
@import "Site/custom/cards/card-register";
@import "Site/custom/cards/card-stats";
@import "Site/custom/cards/card-subcategories";
@import "Site/custom/cards/card-testimonials";
@import "Site/custom/cards/card-wizard";

// React Differences
@import "Site/react/react-differences";

// Personal Pages
@import "Site/personalPages"