//GENERIC
.body,
.about,
.projects,
.guides,
.time,
.underConstruction {
  background-color: #222 !important;
}

.react-tagsinput-input {
  visibility: hidden;
}



// STARTPAGE
.modal-content .modal-header i.tim-icons {
  font-size: 30px !important;
}

.frame {
  height: 100%;
  width: 100%;
}


.resume .modal-header {
  padding-top: 44px;
}

.resume .modal-show .modal-dialog {
  -webkit-transform: translateY(0%) !important;
  transform: translateY(0%) !important;
}

.modal-open .modal {
  overflow-y: hidden;
}

.modal-dialog {
  max-width: 100%;
  margin: 0px;
}

.modal-body {
  padding: 0px !important;
}

.resume .modal-content {
  background-color: #2a2a2a;
  height: 100vh !important;
}

//ABOUT PAGE
//card wizard


.about .btn-wde,
.about .btn-wde:hover,
.about .btn-wde:active,
.about .btn-wde:active:hover {
  background: transparent !important;
  color: #d43e03;
  font-size: 1.3rem;
}

.about .card-body,
.about .card-wizard .card-footer {
  background: transparent !important;
  padding: 10px 0 0 0;
}

.about .card-wizard .wizard-navigation {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about .card-wizard .card-body,
.about .card-wizard .card-footer {
  margin: 0px;
  padding-top: 0px;
}

.about .card-wizard .card-header {
  padding-top: 10px;
  margin-bottom: 20px;
}

.about .bootimg {
  border-radius: 100%;
  width: 80px;
  margin-top: -203px;
  margin-left: 5px;
}

.about .card-user .card-body {
  min-height: 270px !important;
}

// card users

.about .card-user {
  background: #2a2a2a !important;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, .2), 0 0 1rem rgba(0, 0, 0, .2);
  padding: 0px 30px 30px 30px;
  margin: 20px 0 10px 0;
}

.about .card-user .card-footer {
  margin-top: 20px;
}

.about .card-footer div:first-child,
.about .card-wizard .card-footer div:nth-child(2) {
  padding: 0px;
  float: none;
}

.about .card-user .block {
  display: none;
}

//chart card

.about .card-stats {
  padding: 10px 30px 0 30px;
  background: linear-gradient(0deg, rgba(97, 91, 91, 0.582), #636363 100%);
}

.about .card-chart {
  background: #2a2a2a !important;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, .2), 0 0 1rem rgba(0, 0, 0, .2);
  padding: 0px 30px 30px 30px;
  margin: 20px 0 10px 0;
}

.about .card-chart .card-header {
  margin-bottom: 40px;
}

.about .card-chart img {
  max-height: 80px;
  max-width: 80px;
}

.about .input-group {
  margin-bottom: 30px;
}







//PROJECT PAGE

.projects a {
  color: #2a2a2a;
  text-decoration: none;
  transition: 0.3s all ease;

  &:hover {
    color: $primary;
  }

  &:focus {
    text-decoration: none;
  }

}


.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bttn {
  width: 65px;
  height: 65px;
  margin: -40px 0 40px 0;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative;

  &:after {
    transition: 0.3s all ease;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 3px;
    border: 3px solid $primary;
  }

  &:before {
    content: '';
    position: absolute;
    border-radius: 3px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
  }

  &:hover {
    &:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    &:before {
      background-color: $secondary;
      opacity: 0.5;
    }

    &:after {
      border-color: $secondary;
    }
  }
}

.ImageStyle {

  max-height: 37vw;
  min-height: 22vw;
  max-width: 27vw;
  min-width: 27vw;

}


//TIMELINE PAGE
.timeline-panel {
  background: #2a2a2a !important;
  border-radius: 6px;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2) !important;
}



.card.card-timeline .timeline>li>.timeline-badge {
  width: 50px;
  height: 50px;
  line-height: 51px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  margin-left: -25px;

  z-index: 100;
  background: #2a2a2a !important;
  border-radius: 6px;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2) !important;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}










//GUIDES PAGE
.guides .guide-content .card {
  background: linear-gradient(0deg, rgba(97, 91, 91, 0.582) 0%, #636363 100% 100%);
}

.guides .nav-pills .nav-item .nav-link {
  background-color: rgba(97, 91, 91, 0.582) !important;
}

.guides .nav-pills .nav-item .nav-link:hover {
  background-color: rgba(97, 91, 91, 0.382) !important;
}













//REGISTER / LOGIN PAGE
.register-page,
.login-page {
  background: #222 !important;
}

.register-page .footer,
.login-page .footer {
  background-color: transparent;
}

.register-page .card,
.login-page .card {
  background: #2a2a2a;
}


.register-page .card-title,
.login-page .card-title {
  margin-left: 10px !important;
  color: white !important;
}

.register-page .icon {
  margin-top: 3px;
}

.register-page .info-title {
  margin-bottom: 10px;
}

.register-page .info-area {
  margin-top: 10px;
}

//FOOTER
.footer {
  background-color: #222;
}

.footer a {
  font-weight: 600;
}


.projects .card:hover {
  transform: scale(0.9, 0.9);
  opacity: 0.7;
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.projects .card {
  position: relative;
  background: #333;
  border-radius: 6px;
  padding: 1rem;
  color: #aaa;
  transition: 0.4s;
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2),
    0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  flex: 1;
  height: 100%;

  &__image-container {
    //margin:-4rem -6rem 1rem -2rem;
    //margin:-1rem -1rem 2.5rem -1rem
    margin: -1rem -4rem -0.5rem -1rem
  }

  &__line {
    opacity: 0;
    animation: LineFadeIn .8s .8s forwards ease-in;
  }

  &__image {
    opacity: 0;
    width: 100%;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
    object-fit: cover;
    animation: ImageFadeIn .8s 1.4s forwards;
  }

  &__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
  }

  &__content {
    margin-top: -1rem;
    padding-top: 2rem;
    opacity: 0;
    animation: ContentFadeIn .8s 1.6s forwards;
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 40px;
  }
}



@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #fff;
  }

  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: rgb(255, 117, 5);
  }

  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #d43e03;
  }
}

@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ImageFadeIn {
  0% {
    transform: translate(-.5rem, -.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
  }

  50% {
    opacity: 1;
    filter: blur(2px);
  }

  100% {
    transform: translateY(0) scale(1.0);
    opacity: 1;
    filter: blur(0);
  }
}




.skills .container {
  display: flex;
}

.skills .card {
  display: flex;
  height: 200px;
  width: 100%;
  background: #2a2a2a;
  align-content: center;
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-out;
}


.skills .card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.skills .card:hover~.card {
  position: relative;
  transition: 0.4s ease-out;
}

.skills .title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 10px;
}

.skills .bar {
  position: absolute;
  top: 60px;
  height: 5px;
  max-width: 250px;
  left: 20px;
  width: 80%;
}

.skills .emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.skills .filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(90deg, rgba(0, 154, 217, 1) 0%, rgba(217, 147, 0, 1) 65%, rgba(255, 186, 0, 1) 100%);
  transition: 0.6s ease-out;
}

.skills .card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.skills .circle {
  position: absolute;
  top: 80px;
  width: 150px;
  left: calc(50% - 60px);

}

.skills .stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.skills svg {
  fill: #333;
  width: 150px;
  stroke-width: 2px;
}

.skills .card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}



//LOADING ITEM
.item-hints {
  height: 80px;
  width: 80px;
  margin: 80px auto;
}

.item-hints .hint {
  width: 60px;
  height: 60px;
  margin: 150px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-hints .hint::before {
  /* //rotated squre */
  background-color: #fff;
  width: 8px;
  height: 8px;
  z-index: 2;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.item-hints .hint::after {
  /* //green glow */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 2px;
  height: 2px;
  z-index: 1;
  -webkit-box-shadow: 0 0 50px 30px rgba(255, 103, 1, 0.3);
  box-shadow: 0 0 50px 30px rgba(255, 103, 1, 0.3);
  -webkit-animation: home_hero_item_hints_glow 2s cubic-bezier(.25, .1, .2, 1) infinite;
  animation: home_hero_item_hints_glow 2s cubic-bezier(.25, .1, .2, 1) infinite;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

@-webkit-keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px $primary;
    box-shadow: 0 0 30px 5px $primary
  }

  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(255, 103, 1, 0);
    box-shadow: 0 0 70px 50px rgba(255, 103, 1, 0)
  }

  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(255, 103, 1, 0);
    box-shadow: 0 0 0 50px rgba(255, 103, 1, 0)
  }
}

@keyframes home_hero_item_hints_glow {
  0% {
    -webkit-box-shadow: 0 0 30px 5px $primary;
    box-shadow: 0 0 30px 5px $primary
  }

  70% {
    -webkit-box-shadow: 0 0 70px 50px rgba(255, 103, 1, 0);
    box-shadow: 0 0 70px 50px rgba(255, 103, 1, 0)
  }

  100% {
    -webkit-box-shadow: 0 0 0 50px rgba(255, 103, 1, 0);
    box-shadow: 0 0 0 50px rgba(255, 103, 1, 0)
  }
}

.item-hints .hint-dot {
  z-index: 3;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: block;
  -webkit-transform: translate(-0%, -0%) scale(.95);
  transform: translate(-0%, -0%) scale(.95);
  -webkit-animation: home_hero_item_hints_border 2s linear infinite;
  animation: home_hero_item_hints_border 2s linear infinite;
  margin: auto;
}

@-webkit-keyframes home_hero_item_hints_border {

  0%,
  100% {
    border-color: rgba(255, 255, 255, .6);
    -webkit-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-0%, -0%) scale(.95)
  }

  50% {
    border-color: rgba(255, 255, 255, .3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1)
  }
}

@keyframes home_hero_item_hints_border {

  0%,
  100% {
    border-color: rgba(255, 255, 255, .6);
    -webkit-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-0%, -0%) scale(.95)
  }

  50% {
    border-color: rgba(255, 255, 255, .3);
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-0%, -0%) scale(1)
  }
}

.item-hints .hint-radius {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: background-color, opacity, visibility, -webkit-transform;
  transition-property: background-color, opacity, visibility, -webkit-transform;
  transition-property: background-color, opacity, visibility, transform;
  transition-property: background-color, opacity, visibility, transform, -webkit-transform;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease, ease, ease, cubic-bezier(.5, 0, 0, 1);
  transition-timing-function: ease, ease, ease, cubic-bezier(.5, 0, 0, 1);
}

.item-hints .hint:hover .hint-radius {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.item-hints .hint[data-position="1"] .hint-content {
  top: 85px;
  left: 50%;
  margin-left: 56px;
}

.item-hints .hint-content {
  color: #fff;
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .7s ease, visibility .7s ease;
  transition: opacity .7s ease, visibility .7s ease;
  pointer-events: none;
  color: #fff;
  visibility: hidden;
  pointer-events: none
}

.item-hints .hint:hover .hint-content {
  color: #fff;
  width: 300px;
  position: absolute;
  z-index: 5;
  padding: 12px 0;
  opacity: 1;
  visibility: visible !important;
  -webkit-transition: opacity .7s ease, visibility .7s ease;
  transition: opacity .7s ease, visibility .7s ease;
  pointer-events: none;
  color: #fff;
  visibility: hidden;
  pointer-events: none
}

.item-hints .hint-content::before {
  width: 0px;
  bottom: 0;
  left: 0;
  content: '';
  background-color: #fff;
  height: 1px;
  position: absolute;
  transition: width 0.4s;
}

.item-hints .hint:hover .hint-content::before {
  width: 180px;
  transition: width 0.4s;
}

.item-hints .hint-content::after {
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
  bottom: 0;
  left: 0;
  width: 80px;
  content: '';
  background-color: #fff;
  height: 1px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.item-hints .hint:hover .hint-content::after {
  opacity: 1;
  visibility: visible;
}

.item-hints .hint[data-position="4"] .hint-content {
  bottom: 85px;
  left: 50%;
  margin-left: 56px;
}


// CONSTRUCTION

.underConstruction .card {
  background: #222;
  box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2),
    0 0 1rem rgba(0, 0, 0, 0.2);
}
